/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: .75em;
  width: 40px;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  width: 40px;
}

form {
  margin: .5em;
}

.wrap {
  overflow: hidden;
  position: relative;
}

.img-bg {
  opacity: .4;
  position: absolute;
  object-fit: cover;
  width: 100%;
}

.content {
  position: relative;
}